# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
.terraform.lock.hcl.bak

# Python
__pycache__/
*.pyc
.venv/
out/

# Notebook outputs / local
.ipynb_checkpoints/
.env
.DS_Store
